extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-md-6.col-sm-12
      p 
        | Another Line offer scholars a way to easily update and present their CV information online. 
        | You have the freedom to export your data and use it on your own hosted site. 
        | You can choose from our available HTML5 compliant themes to download and use with your CV data.