extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Select a template

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/mycv", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="type") Select Template
          .col-md-10.col-md-4
            select.form-control.input-sm(name="type")
              option DropDown
              option Traditional
        button.btn.btn-default.pull-right Apply template
      .col-xs-12.col-md-4