extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add a new line - Grant

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/mycv", method="get", role="form")

        .form-group
          label.col-sm-2.control-label(for="committee") Grant:
          .col-sm-10
            input#committee.form-control(type="text", name="committee")

        .form-group
          label.col-sm-2.control-label(for="public-host") Sponsor:
          .col-sm-10
            input#role.form-control(type="text", name="role")

        .form-group
          label.col-sm-2.control-label(for="start-year") Year began:
          .col-sm-10
            input#start-year.form-control(type="text", name="start-year", placeholder='2009')

        .form-group
          label.col-sm-2.control-label(for="end-year") Year ended:
          .col-sm-10
            input#end-year.form-control(type="text", name="end-year", placeholder='present')

        .form-group
          label.col-sm-2.control-label(for="amount") Amount:
          .col-sm-10
            input#amount.form-control(type="number", name="amount", placeholder='No commas, please.')

        .form-group
          label.col-sm-2.control-label(for="tags") Tags:
          .col-sm-10
            input#tags.form-control(type="text", name="tags")

        button.btn.btn-default.pull-right Add my line
      .col-xs-12.col-md-4