extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add a new line - Appointments

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/mycv", method="get", role="form")
        .form-group
          label.col-sm-2.control-label(for="institution") University:
          .col-sm-10
            input#institution.form-control(type="text", name="institution", placeholder='University of Haha')

        .form-group
          label.col-sm-2.control-label(for="position") Position:
          .col-sm-10
            input#position.form-control(type="text", name="position", placeholder='TA')

        .form-group
          label.col-sm-2.control-label(for="summary") Summary:
          .col-sm-10
            textarea#summary.form-control(type="text", name="summary", rows="4", placeholder='A brief summary of the position.')

        .form-group
          label.col-sm-2.control-label(for="start-year") Starting Year:
          .col-sm-10
            input#start-year.form-control(type="number", name="start-year", placeholder='2012')

        .form-group
          label.col-sm-2.control-label(for="end-year") Ending Year:
          .col-sm-10
            input#end-year.form-control(type="number", name="end-year", placeholder='2015')

        .form-group
          label.col-sm-2.control-label(for="highlights") Highlights:
          .col-sm-10
            input#highlights.form-control(type="text", name="highlights", placeholder="")

        button.btn.btn-default.pull-right Add my line
      .col-xs-12.col-md-4