extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add a new line - Webtext

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/mycv", method="get", role="form")
        .form-group
          label.col-sm-2.control-label(for="author") 
            span.glyphicon.glyphicon-plus-sign 
            | &nbsp;Author:
          .col-sm-10
            input#author.form-control(type="text", name="author")

        .form-group
          label.col-sm-2.control-label(for="title") Title:
          .col-sm-10
            input#title.form-control(type="text", name="title")

        .form-group
          label.col-sm-2.control-label(for="journal") Journal:
          .col-sm-10
            input#journal.form-control(type="text", name="journal")

        .form-group
          label.col-sm-2.control-label(for="volume") Volume:
          .col-sm-10
            input#volume.form-control(type="text", name="volume")

        .form-group
          label.col-sm-2.control-label(for="pages") Pages:
          .col-sm-10
            input#pages.form-control(type="text", name="pages", placeholder='1-37')

        .form-group
          label.col-sm-2.control-label(for="year") Year:
          .col-sm-10
            input#year.form-control(type="number", name="start-year", placeholder='2012')

        .form-group
          label.col-sm-2.control-label(for="hyperlink") Hyperlink:
          .col-sm-10
            input#hyperlink.form-control(type="text", name="hyperlink")

        .form-group
          label.col-sm-2.control-label(for="abstract") Abstract:
          .col-sm-10
            textarea#abstract.form-control(type="number", name="abstract", rows="5")

        .form-group
          label.col-sm-2.control-label(for="tags") Tags:
          .col-sm-10
            input#tags.form-control(type="text", name="tags")

        button.btn.btn-default.pull-right Add my line
      .col-xs-12.col-md-4