extends traditional-template-layout.jade
include _includes/trad-educationLogic

block content
  #banner.page-header
    .row
      .col-lg-6
        h2

  .row
    .col-xs-12.col-sm-3
      h3
    
    .col-xs-12.col-sm-9
      h2
          a(href="") Chris Lindgren
      p.address Nolte Center
      p.address Minneapolis, MN 56082
      p.email lindg250@umn.edu
      hr

  .row
    .col-xs-12.col-sm-3
      h2.left-heading Education
    
    .col-xs-12.col-sm-9
      +educationOutput
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Appointments
    
    .col-xs-12.col-sm-9
      h4.cvline.parent-list University of Minnesota
      ul.cvline.indent
        li Fall 2014: Graduate Instructor, Rhetoric, Technology, and the Internet (WRIT 3577)
        li Spring 2013-Summer 2013: Research Assistant, Computer Science & Engineering
        li Fall 2012, Fall 2013: Graduate Instructor, 
          a(href='http://www.clindgrencv.com/umn-1301.html') First-Year Writing (WRIT 1301)

      h4.cvline.parent-list North Dakota State University
      ul.cvline.indent
        li Summer 2011-Spring 2012: Research Assistant, Sugar Labs @ NDSU
        li Spring 2011: Research Assistant, National Writing Project
        li Fall 2009-Spring 2012: Graduate Instructor, 
          a(href='http://www.clindgrencv.com/ndsu-120.html') First-Year Writing
        li Fall 2003-Spring 2004: Content Developer, 
          a(href='http://fishhook.cs.ndsu.nodak.edu/home/') Like-A-Fishhook / Virtual Archaeologist Game Project

      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Publications
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading chapters
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Brooks, Kevin, Chris Lindgren, and Matthew Warner. (2014). Tackling a fundamental problem: Using digital labs to build a smarter computing culture. In Bill Hart-Davidson and Jim Ridolfo, (Eds.). <em>Rhetoric and the Digital Humanities</em>. Chicago, IL: University of Chicago Press.

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading publications in progress
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Brooks, Kevin and Chris Lindgren. Responding to the proceduracy crisis: From 'Code Year' to Code Decade. In Lynn C. Lewis, (Ed.). <em>The Kids Still Can't Write: Literacy Crisis Discourses in the 21st Century</em>. [Manuscript accepted; Computers and Composition Digital Press, Winter 2015].
        li Hawk, Byron, Chris Lindgren, and Andrew Mara. Utopian Laptop Initiatives: From technological deism to object-oriented rhetoric. In Sidney Dobrin, (Ed.). <em>Writing Posthumanism, Posthuman Writing</em>. [Manuscript accepted; Parlor Press, Winter 2015].

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading book reviews
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Lindgren, Chris. (2013). BASIC coding cultures. [Review of the book <em>10 PRINT CHR$(205.5+RND(1)); : GOTO 10</em>, by N. Montfort, P. Baudoin, J. Bell, I. Bogost, J. Douglass, M. C. Marino, M. Mateas, C. Raes, M. Sample, & N. Vawter]. <em>Enculturation, 16</em>. Go to 
          a(href='http://enculturation.gmu.edu/10-print') http://enculturation.gmu.edu/10-print.

      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Presentations
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading conferences
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li
          | (Sep. 2014). 
          a(href='https://docs.google.com/presentation/d/1ichOzca0O5WjdG8QrnXbUoxs-syMhKbfc2rJnwq5VWo/pub?start=false&amp;loop=false&amp;delayms=20000#slide=id.p') The dynamic materialities of programming practices. 
          | Association for Computing Machinery: Special Interest Group on the Communication of Design. Colorado Springs, CO. <em>//invited</em>
        li
          | (May 2014). 
          a(href="http://algorithmsrideology.clindgrencv.com") Swapping gender and negotiating differences through data structures. 
          | Rhetoric Society of America. Austin, TX.
        li 
          | (March 2014). Critical code studies roundtable. Digital Arts, Sciences, and Humanities. University of Minnesota: Digital Library Services. //invited
        li Haas, Christina &amp; Chris Lindgren. (February 2014). Panel co-respondent. The material turn in Writing Studies. Writing Across Borders III. Paris, France.
        li (October 2013). The rhetorical influence of Google's ecosystem of APIs on web developer practices. Western States Rhetoric &amp; Literacies. Salt Lake City, UT.
        li (March 2013). Building a smarter computing culture with proceduracy. NCTE CCCC. Las Vegas, NV.
        li
          | (December 2012). 
          a(href="http://glitchhhhhhh.clindgrencv.com/") De-boxing pandora: Tinkering with glitch art methodologies. 
          | GLI.TC/H. Chicago, IL.
        li 
          | (November 2012). 
          a(href="http://sugartechnopolitics.clindgrencv.com/") The technoSocial politics of the Sugar OS: Experiencing technical difficulties.
          | Great Plains Alliance for Computers and Writing. Mankato, MN.
        li (September 2011). GUI power: Composition’s (soft)wares and ways toward the visual, and away from Code. Languages &amp; Cultures Circle of Manitoba &amp; North Dakota. North Dakota State University.
        li Brooks, Kevin and Chris Lindgren. (May 2011). Participating in OLPC: Visions for Computers and Writing. Computers and Writing. University of Michigan.
        li Lindgren, Chris, Abigail Bakke, Sreerupa Sengupta, and Karen Sorenson. (October 2010). Second Life and Writing in the Design Professions. Great Plains Alliance for Computers and Writing. North Dakota State University.
        li (February 2009). Storytelling in the global village: A glimpse into our Web 2.0 selves. Red River Graduate Student Conference. North Dakota State University.
        li (March 2004). Teens and 40s chatting: A generational-linguistic study. Great Plains Alliance for Computers and Writing. North Dakota State University.


  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading workshops/groups
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li (Feb-Mar 2014). 'Genderswapping' or 'misgendering'? A question of 'Jailbreaking the Patriarchy'. Critical Code Studies Working Group (discussion thread leader). The Humanities and Critical Code Studies Lab, University of Southern California.
        li (Feb-Mar 2012). Critical Code Studies Working Group (participant). The Humanities and Critical Code Studies Lab, University of Southern California.
        li Lindgren, Chris and Rebecca Hayes. (October 2011). Seeing and constructing visual arguments in online spaces. Innovation in the Composition Classroom: Ways to Incorporate Digital Tools. North Dakota State University.
        li (Fall 2011). The GeoProfile Project: Stories cutting across maps. English Department Teachers Orientation Workshop. North Dakota State University. <em>//invited</em>
        li (Fall 2010). Online writing spaces with Weebly.com. English Department Technologies Workshop, North Dakota State University. <em>//invited</em>

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading department
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li (Oct. 2014). The social nature of programming practices: Expanding the notion of the 'technical'. Department of Writing Studies: Research Parlor.
        li (Feb. 2014). Extending writing, writing Web Browser extensions. Department of Writing Studies: Visit Day Research Showcase.

      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Service
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading journal / editorial
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Reviewer, International Journal of SocioTechnology and Knowledge Development.
        li Reviewer, Written Communication.
        li Associate Editor. Itineration: Cross-Disciplinary Studies in Rhetoric, Media, & Culture. Fall 2012-present.
        li Web Developer. Itineration: Cross-Disciplinary Studies in Rhetoric, Media, & Culture. Spring 2013.

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading workshop / groups
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li (Feb-Mar 2014). 'Genderswapping' or 'misgendering'? A question of 'Jailbreaking the Patriarchy'. Critical Code Studies Working Group (discussion thread leader). The Humanities and Critical Code Studies Lab, University of Southern California.
        li (Feb-Mar 2012). Critical Code Studies Working Group (participant). The Humanities and Critical Code Studies Lab, University of Southern California.
        li Lindgren, Chris and Rebecca Hayes. (October 2011). Seeing and constructing visual arguments in online spaces. Innovation in the Composition Classroom: Ways to Incorporate Digital Tools. North Dakota State University.
        li (Fall 2011). The GeoProfile Project: Stories cutting across maps. English Department Teachers Orientation Workshop. North Dakota State University. //invited
        li (Fall 2010). Online writing spaces with Weebly.com. English Department Technologies Workshop, North Dakota State University. <em>//invited</em>

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading committees
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Convener. Code work: Exploring Digital Studies through code. Institute for Advanced Study: Research and Creative Collaborative, University of Minnesota. 2014–15. //invited
        li Student Representative to the Director of Graduate Studies. Writing Studies Department, University of Minnesota. Spring 2013-May 2014 //nominated and voted as student body representative
        li Host. Writing Studies Department: Visit Day, University of Minnesota. Spring 2013.
        li Planning Committee. Improving the Graduate Program's Web Presence, University of Minnesota. Spring 2013. //invited
        li Planning Committee. Great Plains Alliance for Computers and Writing, University of Minnesota. Spring 2013-Fall 2013.
        li Representative MA Student. English Department External Advisory Board Meeting, North Dakota State University. Spring 2012. <em>//invited</em>
        li Sugar-Team Lead. Sugar Labs @ NDSU, North Dakota State University. Fall 2011-Spring 2012.
        li Organizer and Presenter. Software Freedom Day. North Dakota State University, English and Computer Science Departments. September 2011.
        li Organizer, STEM/Red River Valley Writing Project, North Dakota State University, English Education. Fall 2010.
        li Planning Committee, Red River Graduate Student Conference, North Dakota State University, English Department. Fall 2009-Spring 2010.
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Grants
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Code work: Exploring Digital Studies through code. Institute for Advanced Study: Research and Creative Collaborative, University of Minnesota. 2014–15. [Funded: $10,000]
        li Community Projects Award: NDSU Office of the President. Sugar on a Stick: Es [Funded: $20,000]
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Awards / Fellowships
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li 
          a(href="http://clindgrencv.com/rsa14.html") 2014 RSA Social Media Fellowship
        li Summer 2014 James I. Brown Research Fellowship. University of Minnesota: Writing Studies.
        li Spring 2014 Medtronic/Industrial Affiliates Program Fellowship. University of Minnesota: Writing Studies and Medtronic.
        li Spring 2013 James I. Brown Fellowship. University of Minnesota: Writing Studies.
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Affiliations
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Rhetoric Society of America
        li NCTE
        li Association of Teachers of Technical Writing
        li HASTAC Scholar
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Languages
    
    .col-xs-12.col-sm-9

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li Mandarin (2 years of coursework)

  .row.inner-rows
    .col-xs-12.col-sm-3
      h4.left-subheading human / machine
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li HTML5/CSS3 (Advanced)
        li Javascript/jQuery (Intermediate)
        li Node.js (Novice)
        li Python (Intermediate)
        li PHP (Novice)
        li Java (Novice)
      hr

  .row
    .col-xs-12.col-sm-3
      h3.left-heading Technical Proficiencies
    
    .col-xs-12.col-sm-9
      ul.cvline.right-sub-list-item
        li <b>Audio</b>: Ableton live, Adobe Audition, Audacity, MLRV
        li <b>Video</b>: Novacut, Kdenlive, iMovie, Modul8
        li <b>Graphic/Image</b>: Adobe InDesign, Photoshop, Fireworks; Kira, Inkscape
        li <b>Office Suites</b>: Microsoft, LibreOffice
        li <b>Course Management</b>: Blackboard, Moodle, also Wordpress as a LMS
        li <b>Version Control</b>: Github, FTP
      hr