doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/entypo.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    -each script in indexScripts
      script(type='text/javascript', src= script)

  body
    #navigation.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') AnotherLine
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/signin/') Sign in

    block content

    footer
      .row
        .col-xs-6.footer-content
          p contact

        .col-xs-3.footer-social
          a(href='')
            i.fa.fa-twitter.fa-2.social-btn
          a(href='https://github.com/cvline')
            i.fa.fa-github.fa-2.social-btn

        .col-xs-2.copyright
          small developed by 
            a(href='http://clindgrencv.com/') c.lindgren 
            | (2014) | gnu-gpl v3.0